@charset "utf-8";
/* CSS Document */

/******************************

[Table of Contents]

1. Fonts
2. Body and some general stuff
3. Header
	3.1 Top Bar
	3.2 Header Content
	3.3 Logo
	3.4 Main Nav
	3.5 Hamburger
4. Menu
5. Home
6. Intro
7. Course
	7.1 Description
	7.2 Curriculum
	7.3 Reviews
	7.4 Members
8. Sidebar
9. Footer



******************************/

/***********
1. Fonts
***********/

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800,900|Poppins:300,400,500,600,700,800,900');

/*********************************
2. Body and some general stuff
*********************************/

*
{
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
body
{
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
	font-weight: 400;
	background: #FFFFFF;
	color: #a5a5a5;
}
div
{
	display: block;
	position: relative;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
ul
{
	list-style: none;
	margin-bottom: 0px;
}
p
{
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
	line-height: 1.71;
	font-weight: 400;
	color: rgba(0,0,0,0.5);
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
p a
{
	display: inline;
	position: relative;
	color: inherit;
	border-bottom: solid 1px #ffa07f;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
p:last-of-type
{
	margin-bottom: 0;
}
a, a:hover, a:visited, a:active, a:link
{
	text-decoration: none;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
p a:active
{
	position: relative;
	color: #FF6347;
}
p a:hover
{
	color: #FFFFFF;
	background: #ffa07f;
}
p a:hover::after
{
	opacity: 0.2;
}
::selection
{
	
}
p::selection
{
	
}
h1{font-size: 40px;}
h2{font-size: 30px;}
h3{font-size: 24px;}
h4{font-size: 18px;}
h5{font-size: 14px;}
h1, h2, h3, h4, h5, h6
{
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	color: #000000;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
h1::selection, 
h2::selection, 
h3::selection, 
h4::selection, 
h5::selection, 
h6::selection
{
	
}
.form-control
{
	color: #db5246;
}
section
{
	display: block;
	position: relative;
	box-sizing: border-box;
}
.clear
{
	clear: both;
}
.clearfix::before, .clearfix::after
{
	content: "";
	display: table;
}
.clearfix::after
{
	clear: both;
}
.clearfix
{
	zoom: 1;
}
.float_left
{
	float: left;
}
.float_right
{
	float: right;
}
.trans_200
{
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.trans_300
{
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
}
.trans_400
{
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;
}
.trans_500
{
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}
.fill_height
{
	height: 100%;
}
.super_container
{
	width: 100%;
	overflow: hidden;
}
.prlx_parent
{
	overflow: hidden;
}
.prlx
{
	height: 130% !important;
}
.parallax-window
{
    min-height: 400px;
    background: transparent;
}
.nopadding
{
	padding: 0px !important;
}

/*********************************
3. Header
*********************************/

.header
{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 100;
	box-shadow: 0px 5px 20px rgba(0,0,0,0.025);
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.header.scrolled
{
	top: -51px;
}

/*********************************
3.1 Top Bar
*********************************/

.top_bar
{
	width: 100%;
	background: #FFFFFF;
	border-bottom: solid 1px #ebebeb;
	z-index: 10;
}
.top_bar_container
{
	width: 100%;
}
.top_bar_content
{
	height: 49px;
	font-size: 12px;
	color: rgba(0,0,0,0.4);
	font-weight: 600;
}
.top_bar_phone
{
	
}
.top_bar_title
{
	margin-right: 10px;
	letter-spacing: 0.075em;
	text-transform: uppercase;
}
.top_bar_lang
{
	display: inline-block;	
}
.lang_list
{
	display: inline-block;
}
.lang_list > li
{
	display: inline-block;
}
.lang_list li a
{
	color: rgba(0,0,0,0.4);
	padding-top: 17px;
	padding-bottom: 17px;
}
.lang_list li a:hover
{
	color: rgba(0,0,0,1);
}
.lang_list li a i
{
	margin-left: 7px;
}
.lang_list > li ul
{
	position: absolute;
	right: -10px;
	top: 44px;
	background: #FFFFFF;
	padding-right: 23px;
	padding-left: 20px;
	padding-top: 15px;
	padding-bottom: 15px;
	box-shadow: 0px 5px 10px rgba(0,0,0,0.15);
	visibility: hidden;
	opacity: 0;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.lang_list > li:hover ul
{
	top: 34px;
	visibility: visible;
	opacity: 1;
}
.lang_list > li ul li
{
	text-align: right;
	
	
}
.lang_list > li ul li a
{
	display: block;
	padding-top: 7px;
	padding-bottom: 7px;
}
.top_bar_social
{
	display: inline-block;
	margin-left: 79px;
	margin-right: -6px;
}
.social_title
{
	margin-right: 13px;
}
.top_bar_social ul
{
	display: inline-block;
}
.top_bar_social ul li
{
	display: inline-block;
}
.top_bar_social ul li a i
{
	font-size: 12px;
	color: rgba(0,0,0,0.4);
	padding: 6px;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.top_bar_social ul li a i:hover
{
	color: rgba(0,0,0,1);
}

/*********************************
3.2 Header Content
*********************************/

.header_container
{
	width: 100%;
	background: #FFFFFF;
}
.header_content
{
	height: 80px;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.header.scrolled .header_content
{
	height: 80px;
}

/*********************************
3.3 Logo
*********************************/

.logo,
.logo_text
{
	display: inline-block;
}
.logo_container
{
	/*width: 100px;*/
}
.logo
{
	width: 60px;
	height: 60px;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.logo img
{
	max-width: 100%;
}
.logo_text
{
	font-family: 'Poppins', serif;
	font-size: 24px;
	font-weight: 700;
	line-height: 0.75;
	/*color: #2e21df;*/
	color: #000;
	vertical-align: middle;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.header.scrolled .logo
{
	width: 40px;
	height: 40px;
}
.header.scrolled .logo_text
{
	font-size: 18px;
}
img.logo_img{
	width: 50px;
	display: inline-block;
	vertical-align: middle;
}

/*********************************
3.4 Main Nav
*********************************/

.main_nav_contaner
{

}
.main_nav,
.user
{
	display: inline-block;
}
.main_nav li
{
	display: inline-block;
	position: relative;
}
.main_nav li:not(:last-child)
{
	margin-right: 20px;
}
.main_nav li a
{
	font-size: 14px;
	font-weight: 600;
	color: rgba(0,0,0,0.45);
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.main_nav li a:hover,
.main_nav li.active a
{
	color: rgba(0,0,0,0.8);
}
.header_content_right
{
	width: 100px;
}
.header_search
{
	display: inline-block;
	width: 18px;
	height: 42px;
	vertical-align: middle;
}
.search_form_container
{
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	right: 0;
	background: #FFFFFF;
	width: auto;
	height: 42px;
	overflow: hidden;
}
.search_form_container.active .search_form
{
	left: 0;
}
.search_form
{
	display: block;
	position: relative;
	left: 196px;
	width: 212px;
	height: 42px;
}
.header_search_input
{
	width: 100%;
	background: transparent;
	height: 42px;
	border: none;
	outline: none;
	padding-left: 33px;
	visibility: hidden;
	opacity: 0;
}
.header_search_input:focus
{
	border-bottom: solid 2px #2e21df !important;
}
.header_search_input::-webkit-input-placeholder
{
	font-family: 'Poppins', sans-serif;
	font-size: 14px !important;
	font-weight: 500 !important;
	color: rgba(0,0,0,0.15) !important;
}
.header_search_input:-moz-placeholder
{
	font-family: 'Poppins', sans-serif;
	font-size: 14px !important;
	font-weight: 500 !important;
	color: rgba(0,0,0,0.15) !important;
}
.header_search_input::-moz-placeholder
{
	font-family: 'Poppins', sans-serif;
	font-size: 14px !important;
	font-weight: 500 !important;
	color: rgba(0,0,0,0.15) !important;
} 
.header_search_input:-ms-input-placeholder
{ 
	font-family: 'Poppins', sans-serif;
	font-size: 14px !important;
	font-weight: 500 !important;
	color: rgba(0,0,0,0.15) !important;
}
.header_search_input::input-placeholder
{
	font-family: 'Poppins', sans-serif;
	font-size: 14px !important;
	font-weight: 500 !important;
	color: rgba(0,0,0,0.15) !important;
}
.search_form_container.active .header_search_input
{
	visibility: visible;
	opacity: 1;
	border-bottom: solid 2px #d9d9d9;
}
.search_button
{
	position: absolute;
	left: 0;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	cursor: pointer;
}
.user
{
	display: inline-block;
	width: 40px;
	height: 40px;
	text-align: center;
	margin-left: 38px;
	cursor: pointer;
	background: #f1f1f1;
	border-radius: 50%;
	vertical-align: middle;
}
.search_button i,
.user i
{
	font-size: 18px;
	color: rgba(0,0,0,0.3);
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.user i
{
	line-height: 40px;
}
.search_button:hover i,
.user:hover i
{
	color: rgba(0,0,0,0.8);
}

/*********************************
3.5 Hamburger
*********************************/

.hamburger_container
{

}
.hamburger
{
	display: none;
	cursor: pointer;
}
.hamburger i
{
	font-size: 20px;
	color: #000000;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.hamburger:hover i
{
	color: #2e21df;
}

/*********************************
4. Menu
*********************************/

.menu
{
	position: fixed;
	top: 0;
	right: -400px;
	width: 400px;
	height: 100vh;
	background: #FFFFFF;
	z-index: 101;
	padding-right: 60px;
	padding-top: 87px;
	padding-left: 50px;
	box-shadow: 0px 5px 20px rgba(0,0,0,0.1);
}
.menu .logo a
{
	color: #000000;
}
.menu.active
{
	right: 0;
}
.menu_close_container
{
	position: absolute;
	top: 30px;
	right: 60px;
	width: 18px;
	height: 18px;
	transform-origin: center center;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	cursor: pointer;
}
.menu_close
{
	width: 100%;
	height: 100%;
	transform-style: preserve-3D;
}
.menu_close div
{
	width: 100%;
	height: 2px;
	background: #232323;
	top: 8px;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.menu_close div:last-of-type
{
	-webkit-transform: rotate(90deg) translateX(-2px);
	-moz-transform: rotate(90deg) translateX(-2px);
	-ms-transform: rotate(90deg) translateX(-2px);
	-o-transform: rotate(90deg) translateX(-2px);
	transform: rotate(90deg) translateX(-2px);
	transform-origin: center;
}
.menu_close:hover div
{
	background: #937c6f;
}
.menu .logo
{
	margin-bottom: 60px;
}
.menu_nav ul li
{
	margin-bottom: 9px;
}
.menu_nav ul li a
{
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
	text-transform: uppercase;
	color: rgba(0,0,0,1);
	font-weight: 700;
	letter-spacing: 0.1em;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.menu_nav ul li a:hover
{
	color: #2e21df;
}
.menu .search
{
	width: 100%;
	margin-bottom: 67px;
}
.search
{
	display: inline-block;
	width: 400px;
	-webkit-transform: translateY(2px);
	-moz-transform: translateY(2px);
	-ms-transform: translateY(2px);
	-o-transform: translateY(2px);
	transform: translateY(2px);
}
.menu .header_search_form
{
	width: 100%;
}
.search form
{
	position: relative;
}
.menu .search_input
{
	width: 100%;
	background: transparent;
	height: 42px;
	border: none;
	outline: none;
	padding-left: 20px;
	border-bottom: solid 2px #d9d9d9;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.menu .search_input::-webkit-input-placeholder
{
	font-family: 'Poppins', sans-serif;
	font-size: 14px !important;
	font-weight: 500 !important;
	color: rgba(0,0,0,0.15) !important;
}
.menu .search_input:-moz-placeholder
{
	font-family: 'Poppins', sans-serif;
	font-size: 14px !important;
	font-weight: 500 !important;
	color: rgba(0,0,0,0.15) !important;
}
.menu .search_input::-moz-placeholder
{
	font-family: 'Poppins', sans-serif;
	font-size: 14px !important;
	font-weight: 500 !important;
	color: rgba(0,0,0,0.15) !important;
} 
.menu .search_input:-ms-input-placeholder
{ 
	font-family: 'Poppins', sans-serif;
	font-size: 14px !important;
	font-weight: 500 !important;
	color: rgba(0,0,0,0.15) !important;
}
.menu .search_input::input-placeholder
{
	font-family: 'Poppins', sans-serif;
	font-size: 14px !important;
	font-weight: 500 !important;
	color: rgba(0,0,0,0.15) !important;
}
.menu .search_input:focus
{
	border-bottom: solid 2px #2e21df;
}
.header_search_button
{
	position: absolute;
	top: 0;
	right: 0;
	width: 40px;
	height: 100%;
	border: none;
	outline: none;
	cursor: pointer;
	background: transparent;
}
.header_search_button:focus
{
	outline: none;
}
.header_search_button i
{
	font-size: 16px;
	color: #d9d9d9;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.header_search_button:hover i
{
	color: rgba(0,0,0,0.8);
}
.menu_extra
{
	position: absolute;
	right: 60px;
	bottom: 30px;
}
.menu_phone,
.menu_social
{
	font-size: 12px;
}
.menu_social
{
	margin-right: -6px;
	margin-top: 5px;
}
.menu_title
{
	text-transform: uppercase;
	margin-right: 10px;
}
.menu_social ul
{
	display: inline-block;
}
.menu_social ul li
{
	display: inline-block;
}
.menu_social ul li a i
{
	font-size: 12px;
	color: rgba(0,0,0,0.4);
	padding: 6px;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.menu_social ul li a i:hover
{
	color: rgba(0,0,0,1);
}

/*********************************
5. Home
*********************************/

.home
{
	width: 100%;
	height: 179px;
	background: #f1f1f1;
}
.breadcrumbs_container
{
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
}
.breadcrumbs_list
{
	width: 100%;
	height: 49px;
}
.breadcrumbs_list li
{
	display: inline-block;
	position: relative;
	font-size: 12px;
	font-weight: 600;
	color: rgba(0,0,0,0.3);
	letter-spacing: 0.075em;
	text-transform: uppercase;
}
.breadcrumbs_list li a
{
	font-size: 12px;
	font-weight: 600;
	color: rgba(0,0,0,0.3);
	text-transform: uppercase;
	letter-spacing: 0.075em;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.breadcrumbs_list li a:hover
{
	color: rgba(0,0,0,0.5);
}
.breadcrumbs_list li:not(:last-child)::after
{
	display: inline-block;
	position: relative;
	font-family: 'FontAwesome';
	content: '\f111';
	color: rgba(0,0,0,0.4);
	font-size: 4px;
	margin-left: 9px;
	margin-right: 7px;
	vertical-align: middle;
}

/*********************************
6. Intro
*********************************/

.intro
{
	width: 100%;
	height: 600px;
}
.intro_background
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.intro_container
{
	width: 100%;
	height: 600px;
}
.intro_content
{
	width: 560px;
	background: #FFFFFF;
	margin-bottom: 60px;
	border: solid 1px #ebebeb;
	padding-left: 49px;
	padding-top: 29px;
	padding-right: 49px;
	padding-bottom: 29px;
}
.intro_price
{
	display: inline-block;
	width: 61px;
	height: 25px;
	text-align: center;
	line-height: 25px;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: 600;
	background: #2e21df;
	border-radius: 3px;
	margin-right: 28px;
}
.intro_rating
{
	display: inline-block;
}
.rating_r i::before
{
	font-family: 'FontAwesome';
	content: "\f006";
	font-style: normal;
	font-size: 13px;
	margin-right: 12px;
	color: #f9cf0e;
}
.rating_r_1 i:first-child::before{content: "\f005";}
.rating_r_2 i:first-child::before{content: "\f005";}
.rating_r_2 i:nth-child(2)::before{content: "\f005";}
.rating_r_3 i:first-child::before{content: "\f005";}
.rating_r_3 i:nth-child(2)::before{content: "\f005";}
.rating_r_3 i:nth-child(3)::before{content: "\f005";}
.rating_r_4 i:first-child::before{content: "\f005";}
.rating_r_4 i:nth-child(2)::before{content: "\f005";}
.rating_r_4 i:nth-child(3)::before{content: "\f005";}
.rating_r_4 i:nth-child(4)::before{content: "\f005";}
.rating_r_5 i:first-child::before{content: "\f005";}
.rating_r_5 i:nth-child(2)::before{content: "\f005";}
.rating_r_5 i:nth-child(3)::before{content: "\f005";}
.rating_r_5 i:nth-child(4)::before{content: "\f005";}
.rating_r_5 i:nth-child(5)::before{content: "\f005";}
.intro_title
{
	font-family: 'Montserrat', sans-serif;
	font-size: 40px;
	color: #000000;
	font-weight: 700;
	margin-top: 8px;
}
.intro_meta
{
	margin-top: 37px;
}
.intro_image
{
	display: inline-block;
	width: 34px;
	height: 34px;
	border-radius: 50%;
	overflow: hidden;
	vertical-align: middle;
}
.intro_instructors
{
	display: inline-block;
	margin-left: 15px;
	font-size: 14px;
	font-weight: 500;
	color: rgba(0,0,0,0.4);
}
.intro_instructors a
{
	color: rgba(0,0,0,0.4);
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.intro_instructors span a
{
	color: rgba(46,33,223,0.8);
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.intro_instructors a:hover
{
	color: rgba(46,33,223,1);
}

/*********************************
7. Course
*********************************/

.course
{
	padding-bottom: 150px;
}
.course_top
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 80px;
	background: #f1f1f1;
}
.course_tabs_container
{
	width: 100%;
}
.tabs
{
	padding-top: 20px;
}
.tab
{
	height: 60px;
	font-size: 14px;
	color: #000000;
	font-weight: 500;
	line-height: 60px;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 0.075em;
	cursor: pointer;
	margin-right: 17px;
	padding-left: 21px;
	padding-right: 20px;
	border-bottom: solid 3px transparent;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.tab.active,
.tab:hover
{
	border-bottom: solid 3px #2e21df;
}
.tab_panel
{
	display: none !important;
	width: 100%;
	height: 100%;
	-webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s;
    padding-top: 49px;
    padding-bottom: 25px;
}
/* Fade in tabs */
@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}
.tab_panel.active
{
	display: block !important;
}
.panel_title
{
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	color: rgba(0,0,0,0.8);
	font-weight: 700;
}
.panel_text
{
	margin-top: 20px;
}
.panel_text p
{
	font-size: 16px;
	line-height: 2;
}

/*********************************
7.1 Description
*********************************/

.instructors
{
	width: 100%;
	margin-top: 58px;
}
.instructors_row
{
	margin-top: 32px;
}
.instructor
{
	width: 100%;
	margin-bottom: 40px;
}
.instructor_image div
{
	width: 68px;
	height: 68px;
	border-radius: 50%;
	overflow: hidden;
}
.instructor_image div img
{
	max-width: 100%;
}
.instructor_content
{
	padding-left: 30px;
}
.instructor_name a
{
	font-size: 16px;
	font-weight: 700;
	color: rgba(0,0,0,0.8);
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.instructor_name a:hover
{
	color: #2e21df;
}
.instructor_title
{
	margin-top: 1px;
}
.faqs
{
	margin-top: 29px;
}
.elements_accordions
{
	margin-top: 34px;
}
.accordion_container
{
	margin-bottom: 12px;
	border: solid 1px #e5e5e5;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 16px;
	padding-bottom: 5px;
}
.accordion
{
	width: 100%;
	cursor: pointer;
	color: #000000;
	font-size: 14px;
	font-weight: 500;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.accordion div
{
	max-width: 90%;
	overflow: hidden;
	/*white-space: nowrap;*/
	font-size: 14px;
	font-weight: 700;
	color: rgba(0,0,0,0.4);
}
.accordion.active div,
.accordion div:hover
{
	color: rgba(0,0,0,0.6);
}
.accordion::before
{
	display: inline-block;
	font-family: 'FontAwesome';
	content: '\f067';
	font-size: 14px;
	color: rgba(0,0,0,0.4);
	font-weight: 300;
	vertical-align: middle;
	margin-right: 20px;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.accordion.active::before,
.accordion:hover::before
{
	color: rgba(0,0,0,0.6);
}
.accordion.active::before
{
	content: '\f068';
}
.accordion_panel
{
	padding-right: 8px;
	padding-left: 32px;
	padding-top: 11px;
	max-height: 0px;
	overflow: hidden;
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}
.accordion.active + .accordion_panel
{
	margin-bottom: 10px;
}
.accordion_panel p
{
	font-size: 14px;
	font-weight: 400;
	color: rgba(0,0,0,0.4);
	line-height: 1.71;
}

/*********************************
7.2 Curriculum
*********************************/

.curriculum_items
{
	margin-top: 58px;
}
.cur_item:not(:last-child)
{
	margin-bottom: 69px;
}
.cur_title,
.cur_num
{
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	color: rgba(0,0,0,0.8);
	font-weight: 700;
}
.cur_item_content
{
	border: solid 1px #e5e5e5;
	margin-top: 40px;
	padding-left: 30px;
	padding-right: 31px;
	padding-top: 16px;
	padding-bottom: 19px;
	border-radius: 3px;
}
.cur_contents
{
	margin-top: 27px;
}
.cur_item_title
{
	color: rgba(0,0,0,0.6);
	font-weight: 700;
}
.cur_item_text
{
	margin-top: 11px;
}
.cur_contents ul li
{
	font-size: 14px;
	line-height: 31px;
	color: rgba(0,0,0,0.4);
}
.cur_contents > ul > li:not(:last-child)
{
	margin-bottom: 28px;
}
.cur_contents ul li a
{
	position: relative;
	font-size: 14px;
	line-height: 31px;
	color: rgba(0,0,0,0.4);
	margin-left: 2px;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.cur_contents ul li a::after
{
	display: block;
	position: absolute;
	left: 0;
	top: calc(100% - 2px);
	width: 100%;
	height: 1px;
	background: rgba(0,0,0,0.2);
	content: '';
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.cur_contents ul li a:hover
{
	color: rgba(0,0,0,0.8);
}
.cur_contents ul li a:hover::after
{
	background: rgba(0,0,0,0.8);
}
.cur_contents ul li i
{
	margin-right: 15px;
	color: #f9cf0e;
}
.cur_contents ul li ul
{
	padding-left: 27px;
}
.cur_contents ul li ul li i
{
	font-size: 12px;
}
.cur_contents ul li ul li
{
	height: 33px;
}
.cur_contents ul li ul li
{
	border-bottom: solid 1px #ebebeb;
}
.cur_time i
{
	font-size: 14px !important;
}

/*********************************
7.3 Reviews
*********************************/

.cur_ratings_container
{
	width: 100%;
	height: 242px;
	margin-top: 69px;
	border: solid 1px #e5e5e5;
	border-radius: 3px;
}
.cur_rating
{
	width: 30%;
	height: 100%;
	border-right: solid 1px #e5e5e5;
	float: left;
}
.cur_stars
{
	margin-left: 17px;
	margin-top: 1px;
}
.cur_stars i::before
{
	font-size: 17px;
	margin-right: 17px;
}
.cur_rating_num
{
	font-family: 'Montserrat', sans-serif;
	font-size: 60px;
	font-weight: 700;
	color: rgba(0,0,0,0.8);
}
.cur_rating_text
{
	font-size: 12px;
	font-weight: 400;
	color: rgba(0,0,0,0.4);
}
.cur_rating_text
{
	margin-top: 8px;
}
.cur_rating_progress
{
	width: 70%;
	height: 100%;
	float: left;
	padding-left: 50px;
	padding-right: 50px;
}
.cur_progress
{
	width: 100%;
}
.cur_progress:not(:last-child)
{
	margin-bottom: 16px;
}
.cur_progress span
{
	width: 65px;
	font-size: 12px;
	font-weight: 600;
	color: rgba(0,0,0,0.4);
	text-transform: uppercase;
}
.cur_pbar
{
	width: calc(100% - 65px);
	height: 9px;
	padding-right: 46px;
}
.cur_reviews
{
	margin-top: 80px;
}
.review
{
	width: 100%;
	border: solid 1px #e5e5e5;
	border-radius: 3px;
	padding-left: 29px;
	padding-top: 24px;
	padding-bottom: 23px;
	padding-right: 30px;
}
.review:not(:last-child)
{
	margin-bottom: 10px;
}
.review_author_image div
{
	width: 34px;
	height: 34px;
	border-radius: 50%;
	overflow: hidden;
	background: #f1f1f1;
	text-align: center;
}
.review_author_image div i
{
	line-height: 34px;
	color: #c1c1c1;
}
.review_author
{
	padding-left: 19px;
}
.review_author_name a
{
	font-size: 14px;
	font-weight: 600;
	color: rgba(0,0,0,0.8);
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.review_author_name a:hover
{
	color: #2e21df;
}
.review_date
{
	font-size: 10px;
	font-weight: 600;
	color: rgba(0,0,0,0.3);
	margin-top: 1px;
}
.review_text
{
	margin-top: 19px;
}
.review_text p
{
	font-size: 14px;
	font-weight: 500;
	color: rgba(0,0,0,0.6);
	line-height: 1.71;
}

/*********************************
7.4 Members
*********************************/

.members_list
{
	margin-top: 69px;
}
.member
{
	width: 20%;
	text-align: center;
	padding-bottom: 50px;
}
.member_image
{
	width: 68px;
	height: 68px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 50%;
	overflow: hidden;
}
.member_title
{
	margin-top: 9px;
}
.member_title a
{
	font-size: 14px;
	font-weight: 600;
	color: rgba(0,0,0,0.5);
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.member_title a:hover
{
	color: rgba(0,0,0,1);
}

/*********************************
8. Sidebar
*********************************/

.sidebar
{
	width: 100%;
	height: 100%;
}
.sidebar_background
{
	position: absolute;
	top: 0;
	left: 0;
	background: #f8f8f8;
	width: calc(100% + 113px);
	height: calc(100% + 150px);
}
.sidebar_top
{
	width: calc(100% + 113px);
	height: 80px;
	background: #2e21df;
}
.sidebar_top a
{
	display: block;
	line-height: 80px;
	text-align: center;
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
	color: #FFFFFF;
	letter-spacing: 0.3em;
}
.sidebar_content
{
	width: 100%;
	padding-left: 45px;
}
.features
{
	margin-top: 49px;
}
.sidebar_title
{
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	font-weight: 700;
	color: rgba(0,0,0,0.8);
}
.features_list
{
	margin-top: 25px;
}
.features_list li
{
	position: relative;
}
.features_list li:not(:last-child)
{
	margin-bottom: 17px;
}
.feature_title
{
	padding-left: 34px;
}
.feature_title span,
.feature_text
{
	font-size: 14px;
	font-weight: 500;
	color: rgba(0,0,0,0.5);
}
.feature_title i
{
	position: absolute;
	top: 1px;
	left: 0;
	margin-right: 16px;
	font-size: 20px;
}
.cert
{
	margin-top: 43px;
}
.cert_image
{
	margin-top: 32px;
	width: 100%;
}
.cert_image img
{
	max-width: 100%;
}
.like
{
	margin-top: 48px;
}
.like_items
{
	margin-top: 24px;
}
.like_item:not(:last-child)
{
	margin-bottom: 12px;
}
.like_title
{
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	font-weight: 700;
	color: rgba(0,0,0,0.8);
}
.like_subtitle
{
	font-size: 12px;
	font-weight: 600;
	color: rgba(0,0,0,0.4);
	margin-top: 2px;
}
.like_price
{
	font-size: 12px;
	font-weight: 700;
	color: #2e21df;
}

/*********************************
9. Footer
*********************************/

.footer
{
	background: #252525;

}
.footer_col
{
	padding-right: 50px;
}
.footer_col:first-child
{
	padding-right: 15px;
}
.footer_logo
{
	margin-top: -10px;
}
.footer_logo a
{
	font-size: 24px;
	font-weight: 700;
	color: #FFFFFF;
}
.footer_body
{
	padding-top: 43px;
	padding-bottom: 44px;
}
.footer_title
{
	font-size: 14px;
	font-weight: 700;
	color: #FFFFFF;
}
.newsletter_container
{
	width: 100%;
	height: 100%;
}
.newsletter_form
{
	display: block;
	position: relative;
	width: 100%;
	margin-top: 20px;
}
.newsletter_input
{
	width: 100%;
	height: 36px;
	background: transparent;
	border: none;
	outline: none;
	border-bottom: solid 1px #929292;
	color: #FFFFFF;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.newsletter_input::-webkit-input-placeholder
{
	font-size: 14px !important;
	font-weight: 600 !important;
	color: rgba(255,255,255,0.4) !important;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.newsletter_input:-moz-placeholder
{
	font-size: 14px !important;
	font-weight: 600 !important;
	color: rgba(255,255,255,0.4) !important;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.newsletter_input::-moz-placeholder
{
	font-size: 14px !important;
	font-weight: 600 !important;
	color: rgba(255,255,255,0.4) !important;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
} 
.newsletter_input:-ms-input-placeholder
{ 
	font-size: 14px !important;
	font-weight: 600 !important;
	color: rgba(255,255,255,0.4) !important;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.newsletter_input::input-placeholder
{
	font-size: 14px !important;
	font-weight: 600 !important;
	color: rgba(255,255,255,0.4) !important;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.newsletter_input:hover::-webkit-input-placeholder,
.newsletter_input:focus::-webkit-input-placeholder
{
	color: rgba(255,255,255,1) !important;
}
.newsletter_input:hover:-moz-placeholder,
.newsletter_input:focus:-moz-placeholder
{
	color: rgba(255,255,255,1) !important;
}
.newsletter_input:hover::-moz-placeholder,
.newsletter_input:focus::-moz-placeholder
{
	color: rgba(255,255,255,1) !important;
} 
.newsletter_input:hover:-ms-input-placeholder,
.newsletter_input:focus:-ms-input-placeholder
{ 
	color: rgba(255,255,255,1) !important;
}
.newsletter_input:hover::input-placeholder,
.newsletter_input:focus::input-placeholder
{
	color: rgba(255,255,255,1) !important;
}
.newsletter_button
{
	position: absolute;
	top: 0;
	right: 0;
	width: 18px;
	height: 36px;
	background: transparent;
	border: none;
	outline: none;
}
.newsletter_button:focus
{
	outline: none;
}
.newsletter_button i
{
	font-size: 16px;
	color: #7c7c7c;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.newsletter_form:hover .newsletter_input
{
	border-bottom: solid 1px #FFFFFF;
}
.newsletter_input:focus
{
	border-bottom: solid 1px #2e21df !important;
}
.newsletter_form:hover .newsletter_button i
{
	color: #FFFFFF;
}
.footer_list
{
	margin-top: 11px;
}
.footer_list li a
{
	font-size: 12px;
	font-weight: 500;
	color: rgba(255,255,255,0.4);
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.footer_list li a:hover
{
	color: rgba(255,255,255,1);
}
.footer_list li:not(:last-child)
{
	margin-bottom: 1px;
}
.footer_col:last-child
{
	padding-right: 15px;
}
.footer_col:nth-child(2) > div
{
	left: -30px;
}
.footer_col:last-child > div
{
	display: inline-block;
	float: right;
}
.copyright
{
	width: 100%;
	background: #1a1a1a;
}
.copyright_content
{
	width: 100%;
	height: 49px;
}
.cr
{
	font-size: 12px;
	font-weight: 500;
	color: rgba(255,255,255,0.3);
}
.footer_phone,
.footer_social
{
	display: inline-block;
}
.footer_social
{
	margin-right: -6px;
}
.footer_social ul
{
	display: inline-block;
}
.footer_social ul li
{
	display: inline-block;
}
.footer_phone
{
	font-size: 12px;
	font-weight: 600;
	color: rgba(255,255,255,0.2);
	margin-right: 81px;
}
.cr_title
{
	font-size: 12px;
	font-weight: 500;
	text-transform: uppercase;
	margin-right: 10px;
	letter-spacing: 0.075em;
	text-transform: uppercase;
	color: rgba(255,255,255,0.2);
}
.cr_social_title
{
	font-size: 12px;
	font-weight: 500;
	color: rgba(255,255,255,0.2);
	text-transform: uppercase;
	margin-right: 20px;
}
.footer_social ul li a i
{
	font-size: 12px;
    color: rgba(255,255,255,0.2);
    padding: 6px;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}
.footer_social ul li a i:hover
{
	color: rgba(255,255,255,1);
}


/*********************************
9. Register
*********************************/

.register
{
	padding-top: 120px;
	padding-bottom: 120px;
	background: #f8f8f8;
}
.register_form_container
{
	width: 100%;
	background: #FFFFFF;
	border: solid 1px #ebebeb;
	padding-top: 38px;
	padding-left: 49px;
	padding-right: 49px;
	padding-bottom: 70px;
}
.register_form_title
{
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	font-weight: 700;
	color: rgba(0,0,0,0.9);
}
.register_row
{
	margin-top: 38px;
}
.register_col
{
	margin-bottom: 45px;
}
.register_col:nth-child(odd)
{
	padding-right: 20px;
}
.register_col:nth-child(even)
{
	padding-left: 20px;
}
.form_input
{
	width: 100%;
	height: 36px;
	background: transparent;
	border: none;
	outline: none;
	border-bottom: solid 1px #b2b2b2;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.form_input:hover,
.form_input:focus
{
	border-bottom: solid 2px #2e21df;
}
.form_input::-webkit-input-placeholder
{
	font-size: 14px !important;
	font-weight: 600 !important;
	color: rgba(0,0,0,0.4) !important;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.form_input:-moz-placeholder
{
	font-size: 14px !important;
	font-weight: 600 !important;
	color: rgba(0,0,0,0.4) !important;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.form_input::-moz-placeholder
{
	font-size: 14px !important;
	font-weight: 600 !important;
	color: rgba(0,0,0,0.4) !important;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.form_input:-ms-input-placeholder
{
	font-size: 14px !important;
	font-weight: 600 !important;
	color: rgba(0,0,0,0.4) !important;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.form_input::input-placeholder
{
	font-size: 14px !important;
	font-weight: 600 !important;
	color: rgba(0,0,0,0.4) !important;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
/*Input Hover*/
.form_input:hover::-webkit-input-placeholder,
.form_input:focus::-webkit-input-placeholder
{
	color: rgba(0,0,0,0.8) !important;
}
.form_input:hover:-moz-placeholder,
.form_input:focus:-moz-placeholder
{
	color: rgba(0,0,0,0.8) !important;
}
.form_input:hover::-moz-placeholder,
.form_input:focus::-moz-placeholder
{
	color: rgba(0,0,0,0.8) !important;
}
.form_input:hover:-ms-input-placeholder,
.form_input:focus:-ms-input-placeholder
{
	color: rgba(0,0,0,0.8) !important;
}
.form_input:hover::input-placeholder,
.form_input:focus::input-placeholder
{
	color: rgba(0,0,0,0.8) !important;
}
.form_button
{
	width: 100%;
	height: 43px;
	background: #2e21df;
	color: #FFFFFF;
	text-transform: uppercase;
	letter-spacing: 0.3em;
	font-family: 'Montserrat', sans-serif;
	font-size: 12px;
	font-weight: 700;
	border: none;
	outline: none;
	cursor: pointer;
	border-radius: 3px;
	margin-top: 5px;
}
.form_button:hover
{
	box-shadow: 0px 10px 40px rgba(0,0,0,0.3);
}
.form_button:focus
{
	outline: none;
}
.register_timer_container
{
	padding-left: 68px;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}
.register_timer_title
{
	font-family: 'Montserrat', sans-serif;
	font-size: 30px;
	color: #000000;
	font-weight: 700;
}
.register_timer_text
{
	margin-top: 20px;
}
.timer_container
{
	margin-top: 82px;
}
.timer_list li
{
	display: inline-block;
	height: 80px;
	text-align: center;
}
.timer_list li:not(:last-child)
{
	margin-right: 45px;
}
.timer_num
{
	font-family: 'Montserrat', sans-serif;
	font-size: 40px;
	font-weight: 700;
	line-height: 0.75;
	color: rgba(0,0,0,0.9);
}
.timer_ss
{
	font-size: 10px;
	line-height: 0.75;
	font-weight: 700;
	color: rgba(0,0,0,0.3);
	text-transform: uppercase;
	letter-spacing: 0.3em;
	margin-top: 16px;
}
